<h1>Изменение продукта</h1>
<%if current_user.admin?%>
<%= render 'form', product: @product %>
<%else%>
  <%= render 'parameters_form', product: @product %>
<%end%>
<%= link_to 'Показать', @product %> |
<%= link_to 'Назад', products_path %>
